/** CSS STYLE **/
@font-face {
  font-weight: 400; 
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 400; 
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

:root {
  --main-color: #fe8a02;
  --main-dark: #42413c;
  --dark: #2A2626;
  --dark-transparent: #908d8b;
  --white: #fff;
  --white-transparent: #D7CCC0;
  --light: #f5f4f0;
  --brown: #B09A81;
}

* {
  box-sizing: border-box;
 }

body {
  margin: 0;

  font: normal 16px/1.6em OpenSans, sans-serif;
  color: var(--dark);
}

.wrapper {
  width: 1110px;
  padding: 100px 0;
  margin: 0 auto;
}

.relative {
  position: relative;
}

/* FON, BACKGROUND, COLOR */

.fon::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background: 
    url("../img/background.png")
    top / cover
    no-repeat;
  opacity: 0.1;

  content: '';
}

.fon-light {
  background-color: var(--light);
}

.fon-brown {
  background-color: var(--brown);
}


.main-img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
  width: auto;
}

.bg-light {
  background-color: var(--light);
}

.bg-brown {
  background-color: var(--brown);
  width: 100%;
}

.bg-white {
  background-color: var(--white);
  width: 100%;
}

.bg-dark {
  background-color: var(--main-dark);
}

.text-main-color {
  color: var(--main-color);
}

.text-white {
  color: var(--white);
}

.text-white-transparent {
  color: var(--white-transparent);
}

.text-dark {
  color: var(--dark);
}

.text-dark-transparent {
  color: var(--dark-transparent);
}

.text-brown {
  color: var(--brown);
}

/* END FON, BACKGROUND, COLOR */

/* FLEX */

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
  justify-content: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.gap-30 {
  gap: 30px;
}

.flex-item-2 {
  width: 50%;
}

.flex-item-3 {
  width: calc((100% - 60px) / 3);
  padding: 1.5rem;
}

/* END FLEX */

/* TEXT */

h1, h2, h3, h4, h5 {
  margin: 0;

  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
  font-weight: normal;
  color: var(--main-color);
}

h2 {
  font-size: 60px;
  color: var(--main-color);
}

h3 {
  font-size: 34px;
  color: var(--main-color);
}

h4 {
  font-size: 24px;
  font-weight: normal;
}

h5 {
  padding: 5px 10px;
  margin: 100px 0 0;

  font: bold 14px/1.2em OpenSans, sans-serif;
  text-transform: uppercase;
}

p {
  margin: 1rem 0 0;
}

.text-center {
  text-align: center;
}

/* END TEXT */

/* BUTTONS */

.btn {
  padding: 12px 24px;

  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--main-color);
}

.btn:hover {
  background-color: #ea7600;
}

.btn-more {
  display: inline-block;
  margin-top: 2.5rem;
}

/* END BUTTONS */

/* MARGIN PADDING */
.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.mt-185 {
  margin-top: 185px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

/* END MARGIN PADDING */

/* what-distortions */

.video-wrapper {
  min-height: 370px;
}

.video {
  position: absolute;
  left: calc(50% - 459.5px);
  bottom: -100px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* END what-distortions */

/* navigation */

#navigation {
  padding-top: 100px;

  background-color: var(--main-dark);
}

.title-five {
  margin: 0;
  font: 52px/62.4px Neucha, sans-serif;
}

.number {
  margin: 0;
  font: 64px/70.5px Neucha, sans-serif;
}

.nav-title {
  margin-bottom: 1rem;

  font-weight: normal;
  color: var(--main-color);
}

/* END navigation */

/* COMMON DISTORIONS STYLE */

.title-distortion {
  margin: 0 0 30px;

  font: 60px/1.2em Neucha, sans-serif;
}

.description-distortion {
  font: 34px/1.2em Neucha, sans-serif;
}

.img-distortion {
  box-shadow: 0 16px 32px 0 #00000026;
  z-index: 100;
}

/* END COMMON DISTORIONS STYLE */

/* FOOTER */
.subscribe {
  padding: 55px;
}

.text-more {
  font: 34px/1.2em Neucha, sans-serif;
}

.email-wrapper {
  margin-top: 9px;
}

.input-email {
  height: 50px;
  width: calc(100% - 70px);
  padding: 15px;

  border: none;

  color: #757575;
}

.submit-btn {
  position: relative;
  height: 50px;
  width: 70px;

  border: none;

  background-color: var(--main-color);
}

.submit-btn::before {
  position: absolute;
  top: 13px;
  left: 23px;
  width: 24px;
  height: 24px;

  background: 
    url("../img/send.svg")
    center / cover
    no-repeat;

  content: '';
}

.subscribe-text {
  margin: 0;

  font-size: 12px;
}

.contact {
  margin-top: 60px;
  font-size: 14px;
  text-align: center;
}

/* LINK */

nav > a {
  display: inline-block;
  text-decoration: none;
  color: var(--main-dark);
}

.subscribe-text > a {
  color: var(--white);
}

.contact a {
  color: #1085C5;
}

nav > a:hover {
  background-color: var(--main-color);
  color: var(--white);
}

nav > a:hover h3 {
  color: var(--white);
}

/* END LINK */