/** CSS STYLE **/
@font-face {
  font-weight: 400; 
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 400; 
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

:root {
  --main-color: #fe8a02;
  --main-dark: #42413c;
  --white: #fff;
  --light: #f5f4f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body {
  font: normal 16px/1.6em OpenSans, sans-serif;
  color: #2A2626;
}

.wrapper {
  width: 1110px;
  padding: 100px 0;
  margin: 0 auto;
}

.relative {
  position: relative;
}

/* FON, BACKGROUND, COLOR */

.fon::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background: 
    url("../img/background.png")
    center / cover
    no-repeat
    var(--light);
  opacity: 0.1;

  content: '';
}

.main-img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
  width: auto;
}

.bg-light {
  background-color: var(--light);
}

.text-main-color {
  color: var(--main-color);
}

.text-white {
  color: var(--white);
}

/* END FON, BACKGROUND, COLOR */

/* FLEX */

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
  justify-content: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.gap-30 {
  gap: 30px;
}

.flex-item-2 {
  width: 50%;
}

.flex-item-3 {
  width: calc((100% - 60px) / 3);
  padding: 1.5rem;
}

/* END FLEX */

/* TEXT */

h1, h2, h3 {
  margin: 0;

  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.text-center {
  text-align: center;
}

/* END TEXT */

/* BUTTONS */

.btn {
  padding: 12px 24px;

  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--main-color);
}

.btn:hover {
  background-color: #ea7600;
}

.btn-more {
  display: inline-block;
  margin-top: 1.5rem;
}

/* END BUTTONS */

/* MARGIN PADDING */
.no-padding {
  padding: 0;
}

.mt-198 {
  margin-top: 198px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-20 {
  margin-bottom: 20px;
}

/* END MARGIN PADDING */

/* what-distortions */

.video-wrapper {
  min-height: 383px;
}

.video {
  position: absolute;
  left: calc(50% - 459.5px);
  bottom: -100px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* END what-distortions */

/* navigation */

#navigation {
  padding-top: 100px;

  background-color: var(--main-dark);
}

.title-five {
  font: 52px/62.4px Neucha, sans-serif;
}

.number {
  font: 64px/70.5px Neucha, sans-serif;
}

.nav-title {
  margin-bottom: 1rem;
}

nav > a {
  display: inline-block;
  text-decoration: none;
  color: var(--main-dark);
}

nav > a:hover {
  background-color: var(--main-color);
  color: var(--white);
}

nav > a:hover h3 {
  color: var(--white);
}

/* END navigation */