/** CSS STYLE **/
@font-face {
  font-weight: 400; 
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 400; 
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}


.body {
  font: normal 16px/1.6em OpenSans, sans-serif;
  color: #2A2626;
}

section {
  width: 1110px;
  padding: 100px 0;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}
